.footer p {
  color: #e6e8ed;
  font-size: 13px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
a {
  font-weight: 600;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #e6e8ed;
}
.footer h5 {
  color: #e6e8ed;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.footer .fa-5x {
  color: #323436;
  margin-right: 5%;
}
.footer .button {
  background-color: #323436;
  border-color: #e6e8ed;
  padding: 12px;
}
.footer .iconfont {
  color: #e6e8ed;
  margin-right: 15px;
}